.home {
	min-height: 100%;
	width: 100%;
}

.showsContainer {
	margin-top: 75px;
}

.showCardsContainer {
	display: grid;
  grid-template-columns: repeat(auto-fill, 210px);
  grid-gap: 1rem;
  justify-content: space-between;
}
