html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
	padding: 30px 11vw;
	background: linear-gradient(0deg, #fafafa 60%, #f3e4a9 60%);
}

@media (min-width: 570px) {
	#app {
		padding: 30px 60px;
	}
}
